* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #1a0b2e;
}
.container {
  color: whitesmoke;
  background-color: #1a0b2e;
  width: 100%;
  height: 92px;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px;
}

.nav-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about {
  font-size: 16px;
  font-weight: 500;
  width: 218px;
  display: flex;
  gap: 32px;
}
#btn-1 {
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  gap: 4px;
  padding: 12px 16px 12px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-2 {
  width: 201px;
  height: 44px;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 16px 12px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-3 {
  color: #00ff88;
  background-color: transparent;
  border: 3px solid #00ff88;
  width: 147px;
  height: 44px;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 16px 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-section {
  width: 100%;
  max-width: 1600px;
  height: 760px;
}
#banner-image > div > img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-image {
  position: relative;
  gap: 40px;
  padding: 101px;
}
.tooltip {
  position: absolute;
  left: 46%;
  bottom: 49%;
}
.tooltip2 {
  position: absolute;
  left: 96%;
  bottom: 99%;
}
.extra-info {
  color: white;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
