* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #1a0b2e;
}
.container {
  color: whitesmoke;
  background-color: #1a0b2e;
  width: 100%;
  height: 92px;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px;
}

.nav-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about {
  font-size: 16px;
  font-weight: 500;
  width: 218px;
  display: flex;
  gap: 32px;
}
#btn-1 {
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  gap: 4px;
  padding: 12px 16px 12px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-button {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-2 {
  width: 201px;
  height: 44px;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 16px 12px 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-3 {
  color: #00ff88;
  background-color: transparent;
  border: 3px solid #00ff88;
  width: 147px;
  height: 44px;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 16px 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-section {
  width: 100%;
  max-width: 1600px;
  height: 760px;
}
#banner-image > div > img {
  padding-left: 20px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#banner-image {
  margin: 0 auto;
  position: relative;
  gap: 40px;
  padding: 101px 100px 209px 100px;
}
.tooltip {
  position: absolute;
  left: 47%;
  bottom: 57%;
}
.tooltip2 {
  position: absolute;
  left: 90%;
  bottom: 104%;
}
.extra-info {
  color: white;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.podcast {
  width: 1600px;
  height: 648px;
  color: whitesmoke;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.about > h1 {
  font: bold;
  font-size: 48px;
  font-weight: 800;
}
.about > p {
  color: rgba(190, 184, 184, 0.563);
  font: normal;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.stat {
  width: 1200px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 80px 200px 120px 200px;
}
/* common stat styles */
.common {
  color: #00ff88;
  font: 800;
  font-size: 38px;
  padding-bottom: 16px;
}
.common-p {
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.511);
}
